@page
@model IndexModel

<h1>Loan Application Form</h1>

<form method="post">
    <div class="form-group">
        <label for="amountRequired">Amount Required:</label>
        <input type="number" class="form-control" id="amountRequired" name="LoanApplication.AmountRequired">
    </div>
    <div class="form-group">
        <label for="term">Term (Months):</label>
        <input type="number" class="form-control" id="term" name="LoanApplication.Term">
    </div>
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="LoanApplication.Title">
    </div>
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" name="LoanApplication.FirstName">
    </div>
    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" name="LoanApplication.LastName">
    </div>
    <div class="form-group">
        <label for="dateOfBirth">Date of Birth:</label>
        <input type="date" class="form-control" id="dateOfBirth" name="LoanApplication.DateOfBirth">
    </div>
    <div class="form-group">
        <label for="mobile">Mobile:</label>
        <input type="text" class="form-control" id="mobile" name="LoanApplication.Mobile">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="LoanApplication.Email">
    </div>
    <button type="submit" class="btn btn-primary">Submit Application</button>
</form>
